*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:inherit;
}
/* Header Styles */
nav{
    padding: 20px 30px;
    background-color: rgb(145, 207, 145);
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: sticky;
}
nav div {
    color: white;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 60px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-around;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-size: 30px;
}
nav ul li a {
    padding: 10px 15px;
    align-items: center;
}
/* Hero Styles */
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: none;
    background-color: rgba(202, 254, 167, 0.5);
}
hero #hi{
    font-size: 100px;
    color: rgb(145, 207, 145);
    padding-left: 20px;
}
hero #name {
    font-size: 100px;
    color: rgb(145, 207, 145);
    padding-left: 20px;
}
hero #extra {
    font-size: 100px;
    color: rgb(145, 207, 145);
    padding-left: 20px;
}
hero img {
    height: 400px;
}
/* About Me Styles */
.About-Me {
    background-color: rgb(145, 207, 145);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: none;
}
.About-Me img {
    height: 400px;
}
#about{
    display: flexbox;
    flex-direction: column;
    color: white;
    font-size: 100px;
    padding-left: 50px;
}
#me {
    display: flexbox;
    flex-direction: column;
    color: white;
    font-size: 100px;
    padding-left: 50px;
}
.About-Me article {
    color: white;
    font-size: 25px;
}
#first {
    font-size: 50px;
    text-decoration: wavy;
}
.About-Me article p {
    padding: 10px;
}
#dh {
    font-style: italic;
}
#je {
    font-style: italic;
}
/* Work */
.work{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(202, 254, 167, 0.5);
}
.aside{
    flex: 1;
    color: rgb(145, 207, 145);
    font-size: 100px;
    padding-left: 200px;
    padding-top: 20px;
}
.work-links{
    padding: 20px 0 20px
}
.work-links li{
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    flex-wrap: wrap;
    list-style: none;
}
/* Contact Me Styles */
.Contact-Me {
    background-color: rgb(145, 207, 145);
    color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
#contact{
    display: flexbox;
    flex-direction: column;
    color: white;
    font-size: 100px;
    padding-left: 20px;
}
#contact2{
    display: flexbox;
    flex-direction: column;
    color: white;
    font-size: 100px;
    padding-left: 20px;
}
#info {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: normal;
}
.Contact-Me img {
    height: 400px;
}
